
body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #676857;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 100;
}

h2 {
  color: #bcbbbb;
  padding-left: 0.3em;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
}

h4 {

}

header {
  padding: 1em 8px 1em 8px;
  text-align: right;
  border-bottom: 5px solid #bcbbbb;
}

footer {
  font-size: 10px;
}

.logo {
  max-height: 100px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .logo {
    max-height: 150px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
 font-weight: bold;
}

.center {
  text-align: center;
}

.content {
  max-width: 1080px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}
a {
  color: #676857;
  text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #676857;
}

.nav {
  float: right !important;
  padding-bottom: 1em;
}



/* Jane Doette: Roboto 100 */
/* All: Oxygen 400 */